</div><!-- Close container started in header -->
<footer class="bg-light text-center text-lg-start mt-5">
    <div class="text-center p-3">
        © 2024 Developed by Rama Bhadra Rao Maddu . All rights reserved.
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Disable right-click
document.addEventListener('contextmenu', function (e) {
    e.preventDefault();
});

</script>
</body>
</html>
