<%- include('../partials/dashboardheader', { title: 'Student Dashboard', role: 'student' }) %>

<h1>Welcome, <%= username %>! This is your Student Dashboard.</h1>

<p>Here you can view and manage your courses, check grades, and more.</p>



<%- include('../partials/dashboardfooter') %>

